<template>
     <br>
        <b-container fluid  style="width: 70%; " name="crear_tarea">
            <b-row m-1>
                <b-col>
                    <b-form-input :minlength="30" ref="tarea" :id="descripcion" type="text" v-model="tarea" placeholder="que quieres hacer hoy......." 
                     style="margin-left:290px;">
                    </b-form-input>   
                </b-col>
                <b-col style="width:20px ; margin-left: 50px;">
                    <input type="button" value="+" v-on:click="agregar_T(tarea)" class="btn btn-primary" data-bs-dismiss="modal" id="boton_agregar"/>
                </b-col>
                 <div v-if="!main.aceptable" id="alerta">tarea debe detener mas de 5 caracteres.....</div>
            </b-row>     
        </b-container>
       
    <b-div class="d-flex justify-content-center"  v-for="(item , index) in items" :key="item.descripcion" :index="index">   
            <b-card id="tarea" v-if="!item.completada  && !item.borrada"
                bg-variant="dark" class="botones" type="dark">
                <b-div>
                    <b-table-simple  class="text-white " style="margin-bottom: -4px;">
                        <b-th>
                            <b-td style="width: 850px;"> 
                                <b-p class="d-flex justify-content-start">{{item.descripcion}}</b-p>
                           </b-td>
                                <b-td id="boton"> 
                                    <div>
                                        <b-button  v-on:click="marcar_como_completada(index)" variant="primary">🗸</b-button>
                                    </div>
                                </b-td>
                                <b-td  id="boton"  v-on:click="cual_eliminar(index)">  
                                    <div>
                                          <b-button class="btn" data-bs-toggle="modal" variant="danger" data-bs-target="#exampleModal_tareas" >x</b-button>
                                    </div>
                                   </b-td>
                        </b-th>            
                    </b-table-simple>
                </b-div>      
        </b-card>
    </b-div>

    <b-div type="button" v-on:click="ver_tareas_c()" id="ver_c"> 
        <h2 >________________________________________________________________</h2>
        <h5  style="margin-right:900px ;">{{main.se_ve_completas}} ver tareas completadas</h5>
    </b-div >
    
    <b-div v-if="main.ver_tareas_completas">

        <b-div class="d-flex justify-content-center"  v-for="(item , index) in items" :key="item.descripcion" :index="index" >
                <b-card id="tarea" name="tareas_terminadas" class="botones" v-if="item.completada && !item.borrada"
                    bg-variant="dark" type="dark">
                        <b-div >
                            <b-table-simple  class="text-white" style="margin-bottom: -4px;">
                                <b-th>
                                    <b-td style="width: 850px;"> 
                                        <b-p class="d-flex justify-content-start">{{item.descripcion}}</b-p>
                                    </b-td>
                                    <b-td id="boton"> 
                                    <div>
                                        <b-button  v-on:click="marcar_como_incompletada(index)" variant="primary">↑</b-button>
                                    </div>
                                </b-td>
                                <b-td  id="boton"  v-on:click="cual_eliminar(index)">  
                                    <div>
                                        <b-button class="btn" data-bs-toggle="modal" variant="danger" data-bs-target="#exampleModal_tareas" >x</b-button>
                                    </div>
                                   </b-td>
                                </b-th>            
                            </b-table-simple>
                        </b-div>             
                </b-card>
        </b-div>
    </b-div>


                     <!-- modales de confirmacion-->     
    <b-div class="modal fade" variant="dark" id="exampleModal_tareas" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" id="fuente">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">confirmacion</h5>
                        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" >
                        seguro que deseas borrar esta tarea
                    </div>
                    <div class="modal-footer">
                        <b-button variant="primary" data-bs-dismiss="modal">Cancelar</b-button>
                        <b-button variant="danger" data-bs-dismiss="modal" v-on:click="eliminar(cual)">aceptar</b-button>
                    </div>
                    </div>
                </div>
            </b-div>
    
    

</template>

<script setup>
import { useTareas } from '../stores/tareass_varias.ts';

const main = useTareas();
var cual=null

function cual_eliminar(index){
  cual=index
}

function eliminar(){
    main.eliminar_t(cual);
}
function marcar_como_completada(index){
    main.t_completada(index);
}
function marcar_como_incompletada(index){
    main.t_incompleta(index);

}
function agregar_T(tarea){
    console.log(tarea.length)
    if(tarea.length > 77){
        for (let i = 0; i < tarea.length; i++) {
            if(i>60 && i<90 && tarea[i]==" "){
            tarea[i]="\n"
            }
        }
    }

    if(tarea.length < 5 && tarea.length1 != 0){
        main.aceptable=false
    }
    else{
    main.aceptable=true
    console.log(tarea)
    main.Agregar_t(tarea)
    
    }
}
function ver_tareas_c(){
    main.ver_tareas_completas=!main.ver_tareas_completas;
   if( main.ver_tareas_completas){
    main.se_ve_completas="no"
   }
   else{
    main.se_ve_completas=""
   }
}

var items = main.tareas;
</script>


<style >
#boton_agregar{
border-radius: 30px;
font-size: larger;
}

#boton{
opacity: 0;
transition-duration: 0.5s;
}

#tarea{
    width: 950px;
    margin-top:10px ;
    border-radius: 15px;
    transition-duration: 0.6s;
}

#tarea:hover{
    width: 1000px;
    font-size: 115%;
    margin-top:10px ;
    border-radius: 15px;
}

.botones:hover #boton{
    opacity: 1;
    font-size: medium;
}

#ver_c{
    opacity: 0.3;
    transition: 5;
}

#ver_c:hover{
    opacity: 1;

}

#alerta{
    padding-right: 22%;
    color:red;
    font-size:small;
}
</style>