<template>
  <div>
  <b-navbar  class="navbar navbar-expand-sm bg-dark navbar-dark">
    <b-navbar-nav class="p-3">
      <h2 class="text-white bg-dark">
        ToDoe
      </h2>
    </b-navbar-nav >
  </b-navbar>
</div>
  <Tareas_Vue></Tareas_Vue>
</template>

<script>
//import HelloWorld from './components/HelloWorld.vue'
import Tareas_Vue from './components/Tareas_varias.vue'


export default {
  name: 'App',
  components: {
  //  HelloWorld,
  Tareas_Vue
 
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
